.container{

    display: inline-grid;
    grid-template: 40px 40px 40px 40px 40px/40px 40px 40px 40px 40px;
    background-color: pink;
}

.room{
    border: 1px solid;
    font-size: 50%;
    text-align: center;
}

#living-room{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
}

#bathroom{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
}
/* 
#bedroom{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 5;
}

#closet{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

#kitchen{
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
} */

#kitchen{
    grid-column: 2/4;
    grid-row: 3/6;
}

#bedroom{
    grid-column: 4/6;
    grid-row: 3/5;
}

#closet{
    grid-column: 4 / 6;
    grid-row: 5/6;
}